.navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px 10% 20px 10%;

    .left{
        display: flex;
        gap: 10%;
    }
}

.home{
    display: flex;
    justify-content: center;
    padding: 13% 0 13% 0;
    gap: 40px;

    background-image: url("/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom -120px;

    .navigation-bar{
        position: absolute;
        top: 5%;
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        background-color: white;

        .left{
            display: flex;
        }

        .navigation-element{
            padding: 10px 10px 10px 10px;
        }

        .navigation-element:hover{
            border-radius: 5px;
            background-color: #F5F5F0;
        }
    }

    .item{
        text-align: center;

        .home-chip{
            border-radius: 5px;
            background-color: #28b463;
            color: white;
        }
    }

    .home-text{
        display: flex;
        flex-direction: row;
        font-size: 2em;
        margin-top: 105px;
    }
}

.category{
    background-color: #FFFFFF;

    .category-title{
        margin: 30px 0 0 10%;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;

        position: relative;
        display: inline-block;
    }

    .category-title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #ff7e5f, #feb47b);
    }

    .content{
        display: flex;
        justify-content: center;
        gap: 2%;

        .item{
            align-self: center;
            padding: 10px 0 20px 0;
        }
    }
}

.category:nth-child(odd){
    background-color: #F5F5F0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}